# Ignore node_modules
node_modules/

# Ignore source code files (TypeScript files if you're bundling them)
src/

# Ignore configuration and local files
.eslint.config.js
.prettierrc
tsconfig.json

# Ignore lock files (optional, based on your project preferences)
package-lock.json

# Ignore Git and version control files
.git/
.gitignore

# Ignore npm ignore file itself
.npmignore

example_project/
